@tailwind base;
@tailwind components;
@tailwind utilities;

/* Use the font stack for the body or general text */
body {
    font-family: 'Segoe UI', 'Helvetica Neue', 'Helvetica', 'Lucida Grande', 'Arial', 'Ubuntu', 'Cantarell', 'Fira Sans', sans-serif;
}

/* Use the same font stack for specific elements like headings */
h1,
h2,
h3 {
    font-family: 'Segoe UI', 'Helvetica Neue', 'Helvetica', 'Lucida Grande', 'Arial', 'Ubuntu', 'Cantarell', 'Fira Sans', sans-serif;
}

.backImg {
    background-image: url('../assets/chat-bg.png');
}

.whatsappBgImg {
    background-image: url('../assets/chat-bg.png');
}

@layer utilities {
    @variants responsive {

        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
        }
    }
}


.custom-scrollbar::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

/* / Track / */
.custom-scrollbar::-webkit-scrollbar-track {
    background: #131c21;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #394045;
}


.emoji-picker-container {
    position: absolute;
    z-index: 10;
    bottom: 70px;
    opacity: 0;
    scale: 0;
    transform: translateY(-70px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.show-emoji-picker {
    opacity: 1;
    scale: 1;
    transform: translateY(0);
}

/* green dot online css */
.blink_me {
    animation: blinker 2s linear infinite;
    width: 13px;
    height: 13px;
    display: inline-block;
    border: 1px solid green;
    background-color: green;
    border-radius: 100%;
}

@keyframes blinker {
    50% {
        opacity: 0.6;
    }
}

@keyframes skeleton-loading {
    0% {
        background-position: -200px 0;
    }

    100% {
        background-position: 200px 0;
    }
}

.singleusers {
    animation: blinker 2s linear infinite;
    z-index: -1;
    animation-duration: 300;
    overflow: hidden;
}

@keyframes skeleton-loading {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.skeleton-time {
    width: 100px;
    height: 20px;
    background-color: #cacaca;
    margin-bottom: 5px;
    border-radius: 4px;
}

.skeleton-unread {
    width: 30px;
    height: 20px;
    background-color: #cacaca;
    margin-bottom: 5px;
    border-radius: 4px;
    /* Applying border radius */
}

.skeleton-admin-tag {
    width: 80px;
    height: 20px;
    background-color: #2a3942;
    color: #aebac1;
    font-size: .71rem;
    text-align: center;
    border-radius: .2rem;
    /* Applying border radius */
    padding: 1px;
}